name: Test desi_retriever

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    environment: test_environment
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Assumes desi_retriever is a package in the root of your repo
        pip install .[dev] 

    - name: Test with pytest
      env:
        # These secrets must be defined in your repository or environment settings
        DESI_LOGIN: ${{ secrets.DESI_LOGIN }}
        DESI_PASSWORD: ${{ secrets.DESI_PASSWORD }}
      run: |
        echo "$DESI_LOGIN:$DESI_PASSWORD" >> ~/.desi_http_user
        pytest
