
name: Test desi_retriever

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    environment: test_environment
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Install desi_retriever
      run: |
        pip install ../desi_retriever
        pip install matplotlib
    - name: Test with pytest
      env:
	DESI_LOGIN: ${{ secrets.DESI_LOGIN }}
	DESI_PASSWORD: ${{ secrets.DESI_PASSWORD }}
      run: |
	echo "$DESI_LOGIN"":""$DESI_PASSWORD" >> ~/.desi_http_user
        pip install pytest
        pytest
